.FloatingHeader {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
    padding: 0;
    background-image: linear-gradient(var(--secondary-container), Transparent);
}

.FloatingHeader a {
    color: var(--text-secondary) !important;
}

.FloatingHeader .LogoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30%;
}

.FloatingHeader .Icons {
    width: 1.6rem;
    height: auto;
}

.FloatingHeader .Nav a {
    transition: transform 0.2s;
    text-align: center;
}

.FloatingHeader .Nav a:hover {
    transform: scale(1.2);
    color: var(--text-primary) !important;
}

.FloatingHeader .Nav {
    margin: 0 3% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    gap: 47px;
}

.NavBtn {
    padding-right: 20px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    background-color: Transparent;
    border: none;
    font-size: 1.2rem;
}

@media only screen and (max-width: 1024px) {
    .NavBtn {
        visibility: visible;
        opacity: 1;
        color: var(--text-secondary);
    }

    .FloatingHeader {
        position: absolute;
        z-index: 2000 !important;
    }

    .FloatingHeader .Nav {
        z-index: 1000 !important;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.7rem;
        background-color: var(--primary-container);
        transition: 1s;
        transform: translateY(-100vh);
    }

    .ResponsiveNav {
        transform: none !important;
    }

    .NavBtnClose {
        position: absolute;
        top: 1.2rem;
        right: 1.2rem;
        font-size: 1.3rem;
        padding: 0;
    }

    .FloatingHeader .Icons {
        padding: 0 !important;
    }

    .Nav a {
        font-size: 1.3rem;
    }
}
