.Footer {
    scroll-snap-align: end;
    margin: 10% 3% auto 3%;
}

.ContactInfo h3, .ContactInfo p {
    margin-top: 0;
}

.ContactInfo h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
    color: var(--text-secondary);
}

.ContactInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 50%;
    padding-bottom: 10px;
}
