.Footer {
    scroll-snap-align: end;
    margin: 10% 3% auto 3%;
}

.Footer a {
    color: var(--text-primary);
}

.ContactInfo p {
    margin: 10px;
    text-wrap: nowrap;
}

.ContactInfo h3 {
    font-size: 1.5em;
    margin: 0 5% auto 5px;
    color: var(--text-secondary);
}

.ContactInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    width: 100%;
    padding-bottom: 10px;
    transition: 1s ease;
}

.IconTitlePair {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.TitleLink {
    margin-right: 5%;
}


@media only screen and (max-width: 700px) {
    .ContactInfo {
        flex-direction: column !important;
        justify-content: center !important;
        transition: 1s ease;
    }
}

