.Header {
    display: grid;
    grid-template-areas: "title nav"
                          "logo logo";
    grid-template-columns: 1fr 2fr;
    align-items: start;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../assets/clouds.jpg');
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-align: start;
}

h1 {
    font-size: 3em;
    padding-left: 40px;
}

.LogoContainer {
    grid-area: title;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35%;
}

.Nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(7, auto);
    margin-top: 3%;
    align-items: center;
    justify-items: right;
    float: right;
    font-size: 1.15em;
}

.Nav a {
    transition: transform 0.2s;
    text-align: center;
}

.Nav a:hover {
    transform: scale(1.2);
}

.IconContainer {
    display: flex;
    gap: 1.7em;
}

.Icons {
    width: 2.3em;
    height: auto;
}

.SunLogo {
    grid-area: logo;
    display: flex;
    align-items: start;
    justify-self: center;
}
