.AboutMe {
    display: grid;
    grid-template-areas:
        "Title Title Title"
        "Subtitles Subtitles Subtitles"
        "SkillList SkillList SkillList";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    height: 100vh;
    scroll-snap-align: start;
}
