.AboutMe {
    height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    width: 100vw;
    transition: 1s;
    justify-content: center;
    align-content: start;
    margin: auto;
    overflow-x: hidden !important;
}

.AboutMe b {
    font-size: 1.1rem;
}

.AboutMe h2, h3, p {
    margin: 20px;
    padding: 0;
}

.AboutMe p {
    text-align: justify;
}

img {
    width: 30%;
    max-width: 500px;
    float: right;
    margin-left: 40px;
}


.Description {
    margin: auto 10%;
}

@media only screen and (max-width: 800px) {
    .AboutMe {
        align-content: center !important;
        margin: 0;
        padding: 0;
        transition: 1s;
    }
}
