.AboutMe {
    height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    padding: 40px;
    width: 100%;
    transition: 1s;
    justify-content: center;
    align-content: start;
    margin: auto 10%;
}

.AboutMe h2, h3, p {
    margin: 20px;
    padding: 0;
}

.AboutMe p {
    text-align: justify;
}

img {
    width: 40%;
    max-width: 400px;
    float: right;
    margin-left: 5%;
}


.Description {
    width: 70%;
}

.Box1 {;
    font-size: 1.5rem;
    margin-left: 20px;
}

@media only screen and (max-width: 800px) {
    .AboutMe {
        align-content: center !important;
        margin: 0;
        padding: 0;
        transition: 1s;
    }

    .Description {
        width: 100%;
        transition: 1s;
    }

    img {
        width: 30%;
        margin-right: 5%;
        margin-top: 20%;
        transition: 1s;
    }
}
