.DevelSkills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    scroll-snap-align: start;
    margin: auto;
}

.SkillPreview {
    transition: transform 0.5s ease-in-out;
}

.SkillPreview:hover {
    transform: scale(1.3);
}