.DevelSkills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    scroll-snap-align: start;
    margin: auto;
}

.DevelSkills li {
    transition: transform 0.2s;
}

.DevelSkills li:hover{
    transform: scale(1.25);
}
