.Projects {
    height: 100vh;
    scroll-snap-align: start;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 75%;
}

img {
    height: 100px;
    width: 100px;
    justify-self: center;
}

.Card {
    background-color: var(--primary-container);
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.slick-slide > div {
    margin: 0 10px;
}

.CardContent {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 4%;
    padding: 4%;

}