.Projects {
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 75%;
    margin: auto;
    padding-top: 0.5%;
    scroll-snap-align: start;
}

.Projects img {
    height: 120px;
    width: 120px;
    margin: 0 auto !important;
    display: block;
    padding-top: 5%;
}

.Card {
    display: flex !important;
    flex-direction: column;
    background-color: Transparent;
    height: 450px;
    box-shadow: 8px 8px;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 2px solid;
    padding: 30px 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.slick-slide > div {
    margin: 0 10px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slick-prev {
    left: -20px !important;
}

.slick-next {
    right: -20px !important;
}

.slick-dots li.slick-active button:before {
    color: var(--text-primary) !important;
}

.CardInfo {
    display: flex;
    flex-direction: column;
}

.ReadMoreBtn {
    width: 150px;
    margin: 20px auto;
    color: var(--text-secondary);
    border: 2px solid var(--text-secondary);
    border-radius: 20px;
    background-color: Transparent;
    padding: 5px;
}
