.Skills {
    display: grid;
    grid-template-areas:
        "Title Title Title"
        "Subtitles Subtitles Subtitles"
        "SkillList SkillList SkillList";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.3fr auto 1fr;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.Title {
    grid-area: Title;
}

.Subtitles {
    grid-area: Subtitles;
    background-color: #6d6d6d;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 66%;
    justify-self: center;
    border-radius: 1em;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 10%);
    margin-bottom: 10px;
}

.SkillLists {
    grid-area: SkillList;
    background-color: #6d6d6d;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 66%;
    justify-self: center;
    border-radius: 1em;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 10%);
}
