.TechSkills {
    display: grid;
    grid-template-areas:
        "Title"
        "Table";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.3fr 2fr;
    justify-content: center;
    text-align: center;
    height: 100vh;
    scroll-snap-align: start;
}

.Title {
    grid-area: Title;
}

.Table {
    grid-area: Table;
}

table {
    width: 75%;
    justify-self: center;
    table-layout: fixed;
}

table, td {
    border: 1px solid;
}

th, td {
    padding: 10px;
    text-align: center;
    height: 40px;
}


.SkillItem {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: 60%;
}
