.TechSkills {
    display: grid;
    grid-template-areas:
        "Title"
        "Subtitles"
        "SkillLists";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.3fr auto 1fr;
    justify-content: center;
    text-align: center;
    height: 100vh;
    scroll-snap-align: start;
}

.Title {
    grid-area: Title;
}

.Subtitles {
    grid-area: Subtitles;
}

.SkillLists {
    grid-area: SkillLists;
    padding-bottom: 20px;
    padding-top: 20px;
}

.Subtitles, .SkillLists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 75%;
    justify-self: center;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 10%);
    border: 1px solid var(--text-primary);
}

.SkillItem {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: 40px;
}
