.TechSkills {
    display: flex;
    flex-direction: column;
    height: 100vh;
    scroll-snap-align: start;
    margin: 5% auto;
    align-items: center;
    justify-content: center;
}

.TechSkills h3 {
    margin: auto;
}

.TechSkills table {
    padding: 0 13% 0 20%;
    transition: 1s;
}

table th, table td {
    padding-bottom: 18px;
    text-align: left !important;
    max-width:80%;
    white-space: nowrap;
    transition: 1s;
}

.Proficiency {
    transition: 1s;
}

@media only screen and (max-width: 600px) {
    .Proficiency {
        width: 10% !important;
        height: 15px !important;
        transition: 1s;
    }
    .TechSkills table {
        table-layout: fixed;
        width: 100%;
        margin-top: 10%;
        padding: 0 4%;
        transition: 1s;
    }

    table th, table td {
        padding-bottom: 3%;
        transition: 1s;
        width: 100%;
    }

    p {
        align-self: start !important;
        transition: 1s;
    }
}