:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  scroll-snap-type: y mandatory;

  /*
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Default theme */
  --background: #242424;
  --text-primary: white;
  --text-secondary: #dedede;
  --accent: #6d6d6d;
}

/* Alternative theme */
[data-theme='dark'] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}

html { scroll-behavior: smooth;}

.App {
  color: var(--text-primary);
  background-color: var(--background);
}

body {
  margin: 0;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

ul {
  font-size: 1.3em;
  list-style-type: none;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: white;
}

.SideMenu {
  position: fixed;
  top: 20vh;
  right: 10px;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.SideMenu.visible {
  opacity: 1;
}

.SideMenuBar {
  display: grid;
  justify-items: center;
  padding-top: 170px;
  grid-template-rows: repeat(5, auto);
  background-color: #656565;
  height: 300px;
  width: 50px;
  margin-right: 20px;
  border-radius: 10px;
}

.ToTopIcon {
  position: absolute;
  width: 7em;
  height: auto;
  left: 37%;
  transform: translateX(-50%);
  margin-top: 15px;
}
