:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  scroll-snap-type: y mandatory;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  /* Dark theme */
  --background: #242424;
  --text-primary: white;
  --text-secondary: #a8a8a8;
  --primary-container: #6d6d6d;
  --secondary-container: #1e1e1e;
  --accent: #333333;
  --accent-secondary: #484848;
  --header-overlay: Transparent;
}

/* Light theme */
[data-theme='sunrise'] {
  --background: #FF7B00;
  --text-primary: #FFEA00;
  --text-secondary: #FFDD00;
  --primary-container: #FFAA00;
  --secondary-container: #FFB700;
  --accent: #FFC300;
  --accent-secondary: #FFD000;
  --header-overlay: rgba(255, 123, 0, 0.3);
}

/* Medium theme */
[data-theme='sunset'] {
  --background: #240046;
  --text-primary: #FF6D00;
  --text-secondary: #FF9E00;
  --primary-container: #5A189A;
  --secondary-container: #3C096C;
  --accent: #FF7900;
  --accent-secondary: #FF9100;
  --header-overlay: rgba(36, 0, 70, 0.3);
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App {
  color: var(--text-primary);
  background-color: var(--background);
}

body {
  margin: 0;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: white;
}

.HeaderVisibility {
  position: fixed;
  width: 100%;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.HeaderVisibility.visible {
  opacity: 1;
}
